
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background: #ecf5fc; /* Light blue background */ 
}

.container {
  max-width: 1200px;
  margin: 40px auto; 
}

/* Card Styles */

.card {
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-img-top:hover{
transform: scale(1.1);
transition: transform 0.3s ease-in-out;
}

.card-body {
  padding: 20px;
  margin-bottom: 30px;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.card-text {
  font-size: 16px;
  color: #666;
  text-align: center;
}


.my-btn{
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}


.my-btn:hover {
    background-color: #bac2c5;
   
  }


.col{
    padding: unset;
    border: #cae2eb 1px solid;
    font-size: 5px;
    cursor: pointer;
    margin: 0px;
    
}

.col-btn{
  padding: 20px;
  font-size: 5px;
  text-align: center;
  justify-content: center;
}



.card-h1{
  font-size: 18px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.my-btns{

    cursor: pointer;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin: 5px;

}

 







